# EditorConfig is awesome: https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

## Biome configuration
[*.{ts,cts,mts,tsx,js,cjs,mjs,jsx,json,jsonc,css,scss,less}]
indent_style = tab

[*.{yml,yaml}]
indent_style = space
indent_size = 2

## https://github.com/mvdan/sh/blob/master/cmd/shfmt/shfmt.1.scd
[*.sh]
indent_style = space
indent_size = 2
