# dependencies (bun install)
node_modules

# output
docs
docs-*
!assets/docs
out
dist
*.tgz

# Test reports
reports
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Super-linter outputs
super-linter-output
super-linter.log

# Mega-linter reports
megalinter-reports/

# GitHub Actions leftovers
github_conf

# Lychee cache
.lycheecache
